#valores p {
    text-align: justify
}

.empresa {
    width: 100%;
    height: 800px;
    background-image: url("../img/servicios/ban.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;

}

​,
.sig {
    padding: 50px;
}

.map {

    width: 100%;
    height: 920px;
    background-image: url("../img/nuestraEmpresa/map.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;

}

.politicas {
    width: 100%;
    height: 500px;
    background-image: url("../img/servicios/7.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.valores {
    width: 100%;
    height: 750px;
    background-image: url("../img/servicios/6.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.servicios {
    width: 100%;
    height: 750px;
    background-image: url("../img/servicios/servicios.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;

}

​,
.metodologia1 {
    width: 100%;
    height: 750px;
    background-image: url("../img/servicios/8.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.metodologia2 {
    width: 100%;
    height: 750px;
    background-image: url("../img/servicios/met2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.metodologia3 {
    width: 100%;
    height: 750px;
    background-image: url("../img/servicios/met3.JPEG");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.fill1 {
    width: 100%;
    height: 500px;
    background-image: url("../img/servicios/fill1.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;

}

​,
.fill2 {
    width: 100%;
    height: 500px;
    background-image: url("../img/servicios/fill2.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;

}

​,
.fill3 {
    width: 100%;
    height: 500px;
    background-image: url("../img/servicios/fill3.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;

}


.ind1 {

    padding:50px 100px ;
}

​,
.ind2 {
    padding:50px 100px;

}

​,
.ind3 {
    padding:50px 100px;

}

​,
svg {
    position: absolute;
    top: 0;
    left: 0;
}

.footer-distributed {
    width: 100%;
    height: 550px;
    /*background-image: url("../img/footer.png");*/

    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;



}


footer{
    background-image: url("../img/footer.png");
    background-position: 50% 50%;
    background-repeat: no-repeat;
}

* {
    box-sizing: border-box;
}

.slider {
     width: 50%;
     margin: 100px auto;
 }



.slick-slide {
    margin: 0px 20px;
}

.slick-slide img {
    width: 100%;
}

.slick-prev:before,
.slick-next:before {
    color: black;
}

h1, h2, h3, h4, p {
    font-family: "glacial", "raleway-regular", Helvetica, Arial, sans-serif;
}

body {
    background-image: url("../img/pattern.png");
}

.navbar-inverse{
    width: 100%;
    background: #961E20;
    background-image: url("../img/background.jpg");
}

.navbar-inverse .navbar-nav li a {
    color: #ffffff;
}
.dropdown-menu{

    background: #961E20;
    background-image: url("../img/background.jpg");
}